#msonry {position:relative;width:100%}
#msonry li {position:relative;width:100%;list-style:none;float:left;margin-bottom:30px;background:#111}
#msonry li img {vertical-align:top;width:100%;opacity:1;transition:.2s}
#msonry li:hover img {opacity:.3;transition:.2s}
#msonry li div {width:100%;}
#msonry li:hover div {display:block!important}
#msonry li div span {position:absolute;display:block;padding:15px 10px}
#msonry .date {font-size:.7em;top:0}
#msonry .title {font-size:.9em;bottom:0}
